.boxes-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

.box {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(224, 214, 214);
    border-radius: 5px;
}